@model ProjectLigaNosWeb.Data.Entities.Clubs

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <h4>Erro:</h4>
        <p>You cannot delete this club because there are games associated with it.</p>
    </div>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Acroyn)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Acroyn)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DateFund)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DateFund)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Country)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CapacityStadium)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CapacityStadium)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.President)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.President)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NationalTitles)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.NationalTitles)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.InternationalTitles)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.InternationalTitles)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto" />
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
